# Self beneficial files
*.ftpconfig

# Object files
*.o
*.o.*
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects
*.so
*.so.*

# Binary files
onvif_srvd
onvif_srvd_debug

# SDK files
bin/
SDK/

# Temp files
*.*~
*.pid
*.log
*.depend
*.gch

# Files that we don't want to ignore
!libs/libboost_regex-mt-d-m32.so.1.72.0
!libs/libboost_regex-mt-m32.so.1.72.0
!.gitignore
