# cmake
CMakeFiles/
CMakeCache.txt
*.cmake
Makefile
!v4l2wrapper/Makefile
# build
libv4l2wrapper.a
h264_v4l2_rtspserver
v4l2rtspserver
v4l2rtspserver-master
_install/
rootfs
*.a
# cpack
_CPack_Packages
install_manifest.txt
*.deb
.idea/*